<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMDB 首页</title>
</head>
<body>
<h1>欢迎登录 CMDB 系统</h1>
<a href="{{ url_for('server_list') }}">服务器管理</a> |
<a href="{{ url_for('logout') }}">注销</a>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for msg in messages %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>