<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>服务器列表</title>
</head>
<body>
<h2>服务器列表</h2>
<a href="{{ url_for('server_add') }}">添加服务器</a> | <a href="{{ url_for('index') }}">首页</a>
<table border="1">
<tr>
    <th>ID</th><th>主机名</th><th>IP</th><th>操作系统</th><th>描述</th><th>操作</th>
</tr>
{% for s in servers %}
<tr>
    <td>{{ s.id }}</td>
    <td>{{ s.hostname }}</td>
    <td>{{ s.ip }}</td>
    <td>{{ s.os_type }}</td>
    <td>{{ s.desc }}</td>
    <td>
        <a href="{{ url_for('server_edit', server_id=s.id) }}">编辑</a>
        <a href="{{ url_for('server_delete', server_id=s.id) }}">删除</a>
    </td>
</tr>
{%  endfor %}
</table>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for msg in messages %}
        <li>{{ msg }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>